<section class="flex flex-row items-center justify-between w-full carousel-item">
	<div class="flex flex-col items-center justify-center space-y-6 w-5/12">
		<h2 class="text-4xl uppercase">{{item.title | raw}}</h2>
		{{item.description | raw}}
	</div>
	<div class="flex flex-col items-center justify-center w-5/12 space-y-6">
		{% if item.files is defined and item.files|length > 0 %}
			<picture>
				<source srcset="{{asset('img/output_webp/' ~ item.files[0].filename_disk | to_webp)}}" type="image/webp">
				<img src="{{asset('img/' ~ item.files[0].filename_disk)}}" 
				class="w-full h-[640px] object-cover" 
				loading="lazy" 
				alt="{{item.title}}"
				width="800" 
				height="640">
			</picture>

			<div class="flex flex-row items-center justify-center space-x-6 !overflow-scroll">
				{% for file in item.files %}
					{% if loop.index0 != 0 %}
						<picture>
							<source srcset="{{asset('img/output_webp/' ~ file.filename_disk | to_webp)}}" type="image/webp">
							<img src="{{asset('img/' ~ file.filename_disk)}}" 
							class="w-full max-h-14 object-cover" 
							loading="lazy" 
							alt="{{item.title}} - image {{loop.index}}"
							width="200" 
							height="56">
						</picture>
					{% endif%}
				{% endfor%}
			</div>
		{% endif %}
	</div>
</section> 